aniso8601==8.0.0
argcomplete==1.9.3
attrs==19.3.0
boto3==1.10.12
botocore==1.13.12
certifi==2019.9.11
cfn-flip==1.2.2
chardet==3.0.4
Click==7.0
docutils==0.15.2
durationpy==0.5
Flask==1.1.1
flask-restplus==0.13.0
future==0.16.0
hjson==3.0.1
idna==2.8
importlib-metadata==0.23
itsdangerous==1.1.0
Jinja2==2.10.3
jmespath==0.9.3
jsonschema==3.1.1
kappa==0.6.0
lambda-packages==0.20.0
MarkupSafe==1.1.1
marshmallow==3.2.2
more-itertools==7.2.0
numpy==1.17.3
pandas==0.25.3
placebo==0.9.0
pyrsistent==0.15.5
python-dateutil==2.6.1
python-slugify==1.2.4
pytz==2019.3
PyYAML==5.1.2
requests==2.22.0
s3transfer==0.2.1
six==1.13.0
toml==0.10.0
tqdm==4.19.1
troposphere==2.5.2
Unidecode==1.1.1
urllib3==1.25.6
webargs==5.5.2
Werkzeug==0.16.0
wsgi-request-logger==0.4.6
zappa==0.48.2
zipp==0.6.0
