// Container
.container-limited {
  max-width: 1280px;
}

.redFont{
  color: #FF3232
}

.cyanFont{
  color: #00CCCC
}

.blueFont{
  color: #0E0E8E
}

.progressCircle {
  height: 30px;
}

.page-link{
  background: none !important
}

.active{
  background-color: #dbe0e0
}